<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Invoice</title>
    <meta name="description" content="Invoice demo sample">
    <meta name="author" content="Kozea">
    <style type="text/css">
        @charset "UTF-8";

        /* @import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:400,700"); */
        /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */
        @page {
            margin: 1cm;
        }

        @media print {
            * {
                background: transparent;
            }
        }

        .table td,
        .table th {
            background-color: #a5a5a5 !important;
            border-bottom: 0;
        }

        table th.highlighted {
            border-bottom: 0;
        }

        @media print {
            table th.highlighted {
                border-bottom: 0;
            }
        }

        html {
            color: #454646;
            font-family: 'Roboto', sans-serif;
            font-size: 11pt;
            line-height: 1.6;
            letter-spacing: 0.8px;
        }

        html body {
            margin: 0;
            background-color: transparent;
        }

        img {
            max-width: 180px;
        }

        .d-flex {
            display: flex;
        }

        html h1 {
            margin: 0;
        }

        html aside {
            display: flex;
            margin: 2.5em 0 0.3em 0;
        }

        html aside address {
            font-style: normal;
        }

        html aside address#from {
            color: #a9a;
        }

        html aside address#to {
            text-align: right;
        }

        html dl {
            text-align: right;
            position: absolute;
            right: 0;
            top: 0;
        }

        html dl dt,
        html dl dd {
            display: inline;
            margin: 0;
        }

        html dl dt {
            color: #a9a;
        }

        html dl dt::before {
            content: '';
            display: block;
        }

        html dl dt::after {
            content: ':';
        }

        html table {
            border-collapse: collapse;
            width: 100%;
        }

        html table th {
            border-bottom: .2mm solid #a9a;
            font-size: 10pt;
            font-weight: 400;
            padding-bottom: .25cm;
            text-transform: uppercase;
        }

        html table td {
            padding: 3mm 0;
        }

        html table th,
        html table td {
            text-align: center;
        }

        html table th:first-of-type,
        html table td:first-of-type {
            text-align: left;
        }

        html table th:last-of-type,
        html table td:last-of-type {
            text-align: right;
        }

        html table#total {
            background: #f6f6f6;
            border-color: #f6f6f6;
            border-style: solid;
            border-width: 2cm 1cm 1cm;
            bottom: 0;
            font-size: 20pt;
            margin: 0 0;
            min-width: 100%;
        }

        .head-title {
            color: #a9a;
            font-weight: 100;
            margin: 0px 0;
            font-size: 30px;
        }

        .label-title {
            color: #868686;
        }

        .m-0 {
            margin: 0;
        }

        .mb {
            margin-bottom: 5px !important;
        }

        .details-color {
            color: #000;
        }

        .vendor-details {
            width: 50%;
            display: inline-block;
            float: left;
        }

        hr {
            border: 0;
            border-top: 1px solid #CCC;
            margin-top: 11px;
        }

        .table-invoice-details td {
            padding: 5px;
        }

        .table-invoice-details td {
            border: 1px solid #d4d4d4;
        }

        .item-table th {
            padding: 15px 5px 15px 10px;
            -webkit-print-color-adjust: exact;
            text-align: left;
            font-weight: 300;
        }

        .item-table td {
            padding: 10px 5px 10px 10px;
            text-align: left;
            min-width: 10%;
        }

        .item-table td {
            border-top: 0;
        }

        .text-right {
            text-align: right !important;
        }

        .invoice_heading {
            position: relative;
        }

        body {
            font-family: 'Roboto', sans-serif;
        }

        .invoice_heading::before {
            content: "";
            position: absolute;
            bottom: -1px;
            width: 104px;
            border: 1px solid #212529;
        }

        .invoice_heading1 {
            position: relative;
        }

        .invoice_heading1::before {
            content: "";
            position: absolute;
            bottom: -1px;
            width: 30px;
            border: 1px solid #212529;
        }
    </style>
</head>

<body style="margin: 0; padding: 0;">


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quidem dignissimos nam minus nihil. Qui cum itaque
        beatae ut pariatur, tenetur voluptate odio a. Placeat voluptatem provident molestiae odio dolorum!</p>

</body>

</html>